<div class = "container" style = "text align center">
<h1>Here comes your sacred restaurants</h1>
<ul list-style: none>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<a name="Create a new restaurant" id="Create a new restaurant" class="btn btn-primary" href="restaurants/new" role="button">Create a new restaurant</a>
</div>
